<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zml.sanwei.dao.BookDao">
    <insert id="insertAnyFieldsByList">
        insert into book values
        <foreach collection="list" item="item" index="index" separator=",">
            (uuid(),#{item.name},#{item.writer},#{item.publisher},#{item.date},#{item.img},#{item.type},#{item.introduce},#{item.grade},#{item.people},#{item.price},#{item.no},#{item.detailUrl},now(),now())
        </foreach>
    </insert>

    <select id="queryAnyBooks" resultType="cn.zml.sanwei.model.Book">
        select * from book order by createtime limit 1,100
    </select>

    <select id="countBookById" resultType="java.lang.Integer">
        select count(*) from book where bookid=#{bookId}
    </select>

    <select id="getAllBookContentById" resultType="cn.zml.sanwei.model.Book">
        select * from book where book.bookid=#{bookId}
    </select>

    <select id="queryBookByNameWriter" resultType="cn.zml.sanwei.model.Book" parameterType="cn.zml.sanwei.model.Book">
        select * from book where name = #{name} and writer = #{writer} and type = #{type}
    </select>
</mapper>