<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zml.sanwei.dao.CommentDao">
    <insert id="insertList">
        insert into comment values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.commentId},#{item.bookId},#{item.person},#{item.commentContent},#{item.commentDate},now(),now())
        </foreach>
    </insert>

    <select id="getCommentsByBookId" resultType="cn.zml.sanwei.model.Comment">
        select * from comment where bookid=#{bookId} and commentcontent is not null and commentcontent not like "" order by createtime desc
    </select>

    <select id="getCommentByBookIdPerson" resultType="cn.zml.sanwei.model.Comment">
        select * from comment where bookid=#{bookId} and person=#{person}
    </select>

    <insert id="insert">
        insert into comment values (uuid(),#{bookId},#{person},#{commentContent},#{commentGrade},#{commentDate},now(),now())
    </insert>

    <update id="updateByCommentId">
        update comment
        <trim prefix="set" suffixOverrides=",">
            <if test="commentContent!=null and commentContent!=''">commentContent=#{commentContent},</if>
            <if test="commentGrade!=null and commentGrade!=''">commentGrade=#{commentGrade},</if>
            <if test="commentDate!=null and commentDate!=''">commentDate=#{commentDate}</if>
        </trim>
        where commentid=#{commentId}
    </update>

    <select id="getPersonalCommentsByPersonName" resultType="cn.zml.sanwei.model.UserBooksComments">
        select b.bookid,name,writer,publisher,date,img,type,introduce,grade,people,price,no,commentcontent,commentdate,commentgrade
        from comment c inner join book b on b.bookid=c.bookid
        where person=#{person}
    </select>
</mapper>